body {
    background-image: url('pppp.jpg');
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 185, 1);
}

#contenido {
    width: 95%;
    height: 80%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    
}

#television {
    top: 20px;
    left: 25px;
    width: 80%;
    height: 100%;
    /*background-color: royalblue;*/
    display: flex;
    align-items: center;
}

#culo2 {
    width: 100%;
    height: 100%;
    /*background-color: deeppink;*/
    align-items: center;
}

#controlRemoto {
    display: flex;
    background-color: #15ff00;
    width: 15%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
}


#botonera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#masmenos {
    display: flex;
    display: grid;
    padding: 10px;

}

button {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
}

@media only screen and (max-width: 500px) {
    body {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 95vh;
    }

    #contenido {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 85vh;
        align-items: center;
            margin-top: 2rem;
    }

    #television {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    #culo2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #controlRemoto {
            display: flex;
    margin: 1em;
    /* padding: 1em; */
    width: auto;
    height: auto;
    border-radius: 1em;
    border-width: 0.1em;
    border-style: solid;
    background-color: #15ff00;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 15px;

    }

    #masmenos {
        display: flex;
        display: grid;
        padding: 10px;

    }

    button {
          font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.4em;
    margin: 0.1em;
    border-radius: 1em;
    border-width: 0.1em;
    border-style: solid;

    }
}



@media (min-width: 501px) and (max-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    #contenido {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 90vh;
        align-items: center;
    }

    #television {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #culo2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #controlRemoto {
        display: flex;
        width: 15%;
        height: auto;

        background-color: #33ff00;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #masmenos {
        display: grid;
        padding: 3px;

    }

    button {
        font-size: 15px;
        font-family: Helvetica, sans-serif;
        margin: 3px;

    }

}
