html {
    font-size: 15px;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('pppp.jpg');
    width: 95%;
    height: 95%;
    background-color: rgb(32, 185, 1);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

}

#contenido {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

}

#television {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    margin: 1em;


}

#culo2 {
    width: 100%;
    height: 100%;
    align-items: center;
}

#controlRemoto {
    display: flex;
    background-color: #15ff00;
    width: 15%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    border-radius: 1em;
    border-style: solid;
}

#botonera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1em;
}

#masmenos {
    padding: 0.5em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;


}

button {
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    border-style: solid;
}

@media only screen and (max-width: 500px) {
    body {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 95vh;
    }

    #contenido {
        display: flex;
        width: 95vw;
        height: 85vh;
        margin-top: 2em;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    #television {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    #culo2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #controlRemoto {
        display: flex;
        margin: 1em;
        width: auto;
        height: auto;
        border-radius: 1em;
        border-width: 0.1em;
        border-style: solid;
        background-color: #15ff00;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1em;

    }

    #masmenos {
        display: flex;
        padding: 1em;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    button {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.4em;
        margin: 0.1em;
        border-radius: 1em;
        border-width: 0.1em;
        border-style: solid;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }

    #contenido {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 85vh;
        align-items: center;
        margin: 1em;
    }

    #television {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #culo2 {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #controlRemoto {
        display: flex;
        width: 15%;
        height: auto;
        margin: 1em;
        background-color: #33ff00;
        border-radius: 1em;

    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #masmenos {
        padding: 0.5em;
        display: flex;
        padding: 0.5em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    button {
        font-size: 1rem;
        font-family: Helvetica, sans-serif;
        margin: 0.5em;
        border-radius: 1em;

    }

}