
html{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
		margin: 3px;
}
.flex-item {
    width: calc(33.33333% - 40px);
    margin: 20px;
  }

.nav-pills {
    --bs-nav-pills-border-radius: 2rem;
    --bs-nav-pills-link-active-color: rgb(255, 0, 0);
    --bs-nav-pills-link-active-bg: #00b47e;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
}
.nav{
--bs-nav-link-color: #ffffff;
font-family: Verdana;
font-size: 1.3rem;
background-color: #000000;
color:rgb(0, 0, 0);
}
img{
    width: 128px;
    margin:3px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #00ff73;
    font-size: 26px;
}
#barritanav{
    background-color:#ffffff;
    text-align: center;
    margin: 0 10px 0 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffffd6;
    background-color: #ff0000;
}
#videitos{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: content;
    display: flexbox;
    justify-content:left;
    align-items:flex-start;
    display: flex;
    align-items: center;
    justify-content: center;

}
#bannerban{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    justify-content: center;
    align-items: center;
    display: flexbox;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.nav-pills {
    --bs-nav-pills-border-radius: 3rem;
}
a.nav-link{
    margin: 0px;
}
#pipi{
    margin: 0px;
    padding: 0px;
    display: grid;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
 }
#botonazo {
    width: 50%;
    height: 150px;
    margin: 0px;
    justify-content:left;
    align-items:flex-start;
    font-size: 100px;
    font-family:Helvetica,Arial, sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #ffffff
    }
footer{
        background-image: url(asdasdasdsa.png);
        font-family:arial;
        font-size: 87px;
        font-weight: 700;
        color: #ffffff;
        border-radius: 2px;
        border-color: #000000;
        border: #000000;
        -webkit-text-fill-color: rgb(255, 255, 255);
				-webkit-text-stroke: 1px rgb(0, 0, 0);       
			}
.piesito{
        font-family:Amiri Quran;
    }