html {
    font-size: 25px;
}

body {
    background-image: url(fondo.jpg);
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 185, 1);
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido {
    width: 95%;
    height: 95%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#television {
    width: 80%;
    height: 85%;
    /*background-color: royalblue;*/
    display: flex;
    align-items: center;
}

#culo2 {
    width: 100%;
    height: 100%;
}

#controlRemoto {
    background-color: #15ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: auto;
    padding: 0.1em;
    border-radius: 0.7em;
    border-width: 0.1em;
    border-style: solid;
    margin: 0.1em;

}

#botonera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#masmenos {
    display: flex;
    display: grid;
    padding: 0.1em;
}

button {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 0.1em;
}

@media only screen and (max-width: 500px) {
    body {
      
        width: 95vw;
        height: 95vh;
    }

    #contenido {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 85vh;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    #television {
        display: flex;
        width: 100%;
        justify-content: center;
    }


    #controlRemoto {
        display: flex;
        margin: 0.5em;
        padding: 0.1em;
        width: 40%;
        height: auto;

        border-radius: 0.7em;
        border-width: 0.1em;
        border-style: solid;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.1em;

    }

    #masmenos {
        display: flex;
        display: grid;
        padding: 0.1em;

    }

    button {
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.1em;
        margin: 0.1em;
        border-radius: 0.7em;
        border-width: 0.1em;
        border-style: solid;

    }
}

@media (min-width: 501px) and (max-width: 749px) {
  

    #contenido {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 80%;
        align-items: center;
        align-content: center;
    }

    #television {
        display: flex;
        width: 100%;
        height: 65%;
        justify-content: center;
    }

    #controlRemoto {
        display: flex;
        width: 20%;
        height: auto;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #masmenos {
        display: grid;
        padding: 0.1em;

    }

    button {
        font-size: 1rem;
        font-family: Helvetica, sans-serif;
        margin: 0.1em;

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-gap: 0px;
    }

}

@media (min-width: 750px) and (max-width: 1000px) {


    #contenido {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 75%;
        align-items: center;
        align-content: center;
    }

    #television {
        display: flex;
        width: 75%;
        height: 85%;

        justify-content: center;
    }

    #controlRemoto {
        display: flex;
        width: 20%;
        height: auto;
    }

    #botonera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #masmenos {
        display: grid;
        padding: 0.1em;
        height: auto;
    }

    button {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.1em;
        margin: 0.1em;
        border-radius: 0.7em;
        border-width: 0.1em;
        border-style: solid;

    }

}